<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
	<compilation debug="false" xdt:Transform="SetAttributes(debug)" />
	<httpCookies httpOnlyCookies="true" requireSSL="true" xdt:Transform="SetAttributes(httpOnlyCookies,requireSSL)" />
	<authentication>
	  <forms requireSSL="true" cookieSameSite="Lax" xdt:Transform="SetAttributes(requireSSL,cookieSameSite)" />
	</authentication>
  </system.web>
  <system.webServer>
	<httpProtocol>
	  <customHeaders>
		<add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains" xdt:Locator="Match(name)" xdt:Transform="InsertIfMissing" />
	  </customHeaders>
	</httpProtocol>
  </system.webServer>
</configuration>
